/StatementsAndExpressions/target/
/PracticeProgramming3/target/
/PracticeProgramming4/target/
/PracticeProgramming5/target/
/PracticeProgramming6/target/
/PracticeProgramming7/target/
/Factorizer/target/
/InterestCalculator/target/
/PracticeProgramming8/target/
/Module1Exercises/target/
/PracticeProgramming9/target/
/BasicProgrammingConcepts/target/
/ObjectInstantiation/target/
/RefactorIntoObjects/target/
/Initialization/target/
/SimpleCalculator/target/
/ListExamples/target/
/ShapesAndPerimeters/target/
/StateCapitals1/target/
/UserIO/target/
/SimpleFileIO/target/
/StudentQuizScores/target/
/FileReader/target/
/ClassRoster/target/