.dynamic-items {
    font-family: Menlo;
    font-size: 18pt;
    text-align: center;
    background: Whitesmoke;
    border: 1px solid #000;
    box-shadow: 1px 1px 5px -1px #000;
    margin: 30px;
}

.item-id {
    font-family: Menlo;
    font-size: 20pt;
    text-align: left;
}

.displays {
    font-family: Menlo;
    font-size: 18pt;
    height: 50px;
    text-align: center;
    background: Whitesmoke;
    border: 1px solid #000;
    box-shadow: 1px 1px 5px -1px #000;
    margin-bottom: 10px;
}

#change {
    font-family: Menlo;
    font-size: 18pt;
    height: 70px;
    text-align: center;
    background: Whitesmoke;
    border: 1px solid #000;
    box-shadow: 1px 1px 5px -1px #000;
}

.btn-default {
    font-size: 10pt;
    text-align: center;
    margin: 10px;
}

#left-column {
    align-content: center;
    text-align: center;
}

#item-selection-label {
    font-family: Menlo;
    font-size: 18pt;
}
